@import url('https://fonts.googleapis.com/css?family=Aclonica|Baloo+Bhai|Lobster+Two|Markazi+Text|Philosopher&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 17px;
    color: #ffffff;
}

.landing{
    background-image: url(../assets/retro.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.landing .navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-family: 'Philosopher', sans-serif;
    font-size: 25px;
    color: #bf9999;
}

.landing .navbar a{
    text-decoration: none;
    padding: 20px;
    color: #bf9999;
    transition: 0.5s ease;
}

#travelblog{
    margin-left: 7.5vw !important;
}

.landing-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    text-align: center;
    padding: 200px;
    font-family: 'Markazi Text', serif;
}


.landing-text p{
    color: #bf9999;
    font-size: 30px;
    margin-bottom: 20px;
}

.landing-text .button{
    font-size: 25px;
    text-decoration: none;
    color: #bf9999;
    border: #bf9999 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.landing-text .button:hover{
    color: #d8d8d8;
    background-color: #bf9999;
}

.landing .navbar a:hover{
    font-size: 27px;
}

@media only screen and (max-width: 635px){
    .landing-text p{ 
        display: none;
    }
}

@media only screen and (min-width: 635px )and (max-width: 1051px){
    .landing-text .button{
        color: #d8d8d8;
        background-color: #bf9999;
    }
}