<nav id="nav">
    <h2 id="xylo">.xylo</h2>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>