<link rel="stylesheet" href="/css/stylesabout.css">
<div class="landing-about">
        <div class="about-navbar">
            <h2>about</h2>
            <div>
                <a class="buttons" href="index">home</a>
                <a class="buttons" href="#">forum</a>
                <a class="buttons" href="#">login</a>
            </div>
        </div>
        <div class="landing-about-text">
            <p>
                To see the world,<br>things dangerous to come to,<br>to see behind walls, draw closer, to find each other,<br>and to feel.<br>That is the purpose of life.
            </p>
        </div>
    </div>


    <!-- The social media icon bar -->
    <div class="icon-bar">
    <a id="socialmedia" href="#" class="facebook"><i class="fa fa-facebook"></i></a>
    <a id="socialmedia" href="#" class="twitter"><i class="fa fa-twitter"></i></a>
    <a id="socialmedia" href="#" class="google"><i class="fa fa-google"></i></a>
    <a id="socialmedia" href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
    <a id="socialmedia" href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>
<script>
    gsap.from("#socialmedia" ,{duration: 1, y:50 ,delay:1.1, opacity:0,stagger: 0.2});
</script>