<div class="main">
    <nav>
        <div style="float: left;">Welcome, <%= name %></div>
        <div style="float: right;"><a href="/logout">Logout</a></div>
    </nav>

    <div class="createPost">
        <form method="post" action="/upload" enctype="multipart/form-data">
            <label>Title</label>
            <input type="text" name="title">
            <br>
            <label>Content</label>
            <textarea></textarea>
            <br>
            <label>Image</label>
            <input type="file" name="img">
            <input type="submit" value="SUBMIT">
        </form>
    </div>

    <div class="posts">

    </div>
</div>