<link rel="stylesheet" href="/css/dashboard.css">
<div class="dashboard">
  <div class="welcome-title">Welcome, <%= name %></div>
  <div class="logout"><a href="/logout">Logout</a></div>
  <div class="forms-studio">
    <iframe
      src="https://script.google.com/a/iiitm.ac.in/macros/s/AKfycbw1Sxr9GQBMPoetT9TjhtCta7Z2bbBjN4Juf-OnlRduCir3wFls/exec"
    ></iframe>
  </div>
  <div class="posts"></div>
</div>
