<link rel="stylesheet" href="/css/styles.css">
<body id="body">
<div class="preloader">
  <h1>旅行是艺术</h1>
  <h6>. x y l o</h6>
  <br />
  <div class="spinner"></div>
</div>

<div id="landing" class="landing">
    <nav id="nav">
      <h2 id="xylo">.xylo</h2>
      <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger">
          <div></div>
        </div>
        <!-- TODO: Place menu on same height as .xylo -->
        <div class="menu">
          <div>
            <div>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="login">Login</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="landing-text">
      <h1>Lifetimes of Travelling and Photography...</h1>
      <p class="landing-text-anim">
        For us travelling is the most <strong>inspiring and exciting</strong> form
        of photography.<br />
        Every capture is unique, every trip a new experience and this is why
        <br /><strong>we love what we do.</strong>
      </p>
      <a class="button landing-text-anim" href="#stories" id="discover">Discover</a>
    </div>
</div>
</div>
<section class="introduction">
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla earum porro
    fugit provident ullam delectus sed est autem nemo quam, excepturi dolorem
    nobis iusto laudantium placeat! Perferendis autem atque culpa placeat
    laboriosam modi sit amet nam reprehenderit. Doloremque quasi numquam odio
    autem saepe, vel fugiat? Laborum cumque mollitia est corrupti dignissimos
    deserunt deleniti velit, alias numquam eaque quisquam? Veniam ut accusamus
    non dolorem aliquid iste. Temporibus rem velit, possimus sequi vitae
    repudiandae tempore delectus ab repellat quam labore, quo minus iusto
    voluptate expedita quisquam! Ab, deserunt facere! Magnam voluptas, veritatis
    sequi hic ut culpa quidem, nihil, aliquid veniam asperiores expedita!
  </div>
</section>

    <!-- TODO: Stories wale div ko scrolling rakhna hai. -->
    <div class="stories-wrapper">
      <div id="mystories" class="heading">
        <h2>Trending Stories</h2>
      </div>
    <div id="stories" class="stories">
        <div id="pinnedelement1" class="flex-container">
            <div class="feature-content">
                <img id="Image" src="assets/paris.jpg" alt="Image">
                <h2 class="feature-content-title">Midnight in Paris</h2>
                <p class="feature-content-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, culpa.
                </p>
                <a href="stories/0" class="feature-content-link black-button">Read More</a>
            </div>
          </div>

          <div id="pinnedelement2" class="flex-container">
            <div class="feature-content">
                <img id="Image" src="assets/paris.jpg" alt="Image">
                <h2 class="feature-content-title">Midnight in Paris</h2>
                <p class="feature-content-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, culpa.
                </p>
                <a href="stories/0" class="feature-content-link black-button">Read More</a>
            </div>
          </div>

          <div id="pinnedelement3" class="flex-container">
            <div class="feature-content">
                <img id="Image" src="assets/paris.jpg" alt="Image">
                <h2 class="feature-content-title">Midnight in Paris</h2>
                <p class="feature-content-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, culpa.
                </p>
                <a href="stories/0" class="feature-content-link black-button">Read More</a>
            </div>
          </div>

          <div id="pinnedelement4" class="flex-container">
            <div class="feature-content">
                <img id="Image" src="assets/paris.jpg" alt="Image">
                <h2 class="feature-content-title">Midnight in Paris</h2>
                <p class="feature-content-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, culpa.
                </p>
                <a href="stories/0" class="feature-content-link black-button">Read More</a>
            </div>
          </div>


          <div id="pinnedelement5" class="flex-container">
            <div class="feature-content">
                <img id="Image" src="assets/paris.jpg" alt="Image">
                <h2 class="feature-content-title">Midnight in Paris</h2>
                <p class="feature-content-description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, culpa.
                </p>
                <a href="stories/0" class="feature-content-link black-button">Read More</a>
            </div>
          </div>
    </div>
  </div>
    
<!-- Yeh sahi hai -->
<!-- The social media icon bar -->
<div class="icon-bar">
  <a id="socialmedia" href="#" class="facebook"
    ><i class="fa fa-facebook"></i
  ></a>
  <a id="socialmedia" href="#" class="twitter"><i class="fa fa-twitter"></i></a>
  <a id="socialmedia" href="#" class="google"><i class="fa fa-google"></i></a>
  <a id="socialmedia" href="#" class="linkedin"
    ><i class="fa fa-linkedin"></i
  ></a>
  <a id="socialmedia" href="#" class="youtube"><i class="fa fa-youtube"></i></a>
</div>

<div class="footer">
  <ul class="footer-items-list">
    <li class="footer-item"><a href="https://twitter.com/julesforrest">Twitter</a></li>
    <li class="footer-item"><a href="mailto:julesforrest@gmail.com">Email</a></li>
    <li class="footer-item"><a href="https://dribbble.com/julesforrest">Dribbble</a></li>
    <li class="footer-item"><a href="https://github.com/julesforrest">Github</a></li>
    <li class="footer-item">
      <p>👋</p>
    </li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  gsap.from(".landing-text-anim", {
    opacity: 0,
    duration: 1,
    y: -100,
    ease: Power1,
    stagger: 0.1,
    delay: 1.3,
  });
  gsap.from("#socialmedia", {
    duration: 1,
    y: 50,
    delay: 3.2,
    opacity: 0,
    stagger: 0.2
  });
  gsap.from(".locations", {
    duration: 1,
    y: 50,
    delay: 3.2,
    opacity: 0,
    stagger: 0.2
  });
  gsap.from(".buttons", {
    opacity: 0,
    duration: 1,
    x: -100,
    ease: Power1,
    stagger: 0.2,
    delay: 2.1
  });
  var action = gsap
    .timeline()
    .from(".feature-content", {
      opacity: 0,
      duration: 1,
      y: -100,
      ease: Power1,
      stagger: 0.4,
      delay: 0.6
    });

  // ScrollNav
  const body = document.getElementById("body");
  
  window.addEventListener("scroll", () => {
    var element = document.getElementById("nav");
    var scrollPercent = ($(window).scrollTop()/window.innerHeight);
    if(scrollPercent > 0.1){
      element.style.backgroundColor = "rgba(255, 255, 255, 0.9)";
    }
    else
      element.style.backgroundColor = "transparent";
  });

  // scrollmagic
  var controller = new ScrollMagic.Controller();

  new ScrollMagic.Scene({
    triggerElement: ".stories",
    triggerHook: 2.5,
    reverse: true
  })
    .setTween(action)
    .addTo(controller);
</script>
</body>