<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="text/stylesheet" href="./public/css/styles.css" type="text/css">
    <link rel="text/stylesheet" href="./public/css/stylesabout.css" type="text/css"> -->
    <title>Xylo-Travel-Blog</title>
</head>
<body>
    <div class="container">
        <%- body %>
    </div>
    <script href="public/js/app.js"></script>
</body>
</html>