@import url('https://fonts.googleapis.com/css?family=Roboto|Lobster');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto;
}

.main{
    background-color: whitesmoke;
    height: 150vh;
}

.navbar{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 700;

}

.navbar a{
    color: red;
    text-decoration: none;
}

.form-content{
    background-color: whitesmoke;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0px;
}

.form-content input{
    border: 1px solid black;
    border-radius: 4px;
    margin: 20px;
    width: 500px;
    line-height: 1.5;
    font-size: 15px;
    letter-spacing: 0.2mm;
    vertical-align: middle;
    padding: 0 5px;
}

#content{
    width: 500px;
    height: 300px;
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
}

.files{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#attach {
    height: 0;
    width: 0;
    overflow: hidden;
}

.uploadBtn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    width: 120px;
    height: 50px;
    line-height: 50px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    overflow: hidden;
    display: inline-block;  
}

.uploadBtn::before{
    color: white;
    content: "\f382";
    font-family: "Font Awesome 5 Free";
    vertical-align: middle;
    position: absolute;
    left: -30%;
    transition: 0.3s ease-in-out;
}

.uploadBtn:hover{
    padding-left: 10px;
}

.uploadBtn:hover::before{
    left: 10%;
    position: absolute;
}

.files #submit{
    transition: 0.4s ease-in-out;
    cursor: pointer;
    color: white;
    background-color: black;
    width: 100px;
    height: 30px;
    border: none;
    margin-top: 40px;
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
}

#submit:hover{
    color: black;
    background-color: transparent;
    border: 2px solid black;
}

.myposts{
    padding: 48px;
    font-family: 'Roboto';
}

.myposts h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
    color: black;
    font-weight: 600;

}

#title , #place, #date, #author{
    font-size: 18px;
}

#title{
    font-weight: 600;
}

#place, #date, #author{
    font-weight: 400;
}

#content{
    font-size: 15px;
    padding-bottom: 20px;
}

img{
    height: 600px;
    width: auto;
}

/* https://drive.google.com/file/d/1rVamB0Gh9K7TLiuFcIq8VIx2C_juClb2/view?usp=drivesdk */